*, ::after, ::before {
    box-sizing: border-box;
}

body {
    font-family: "Segoe UI", Arial, sans-serif;
}

h1 {
    margin: 0;
}

p {
    padding: 0;
}

a {
    text-decoration: none;
}


.wrapper {
    max-width: 1140px;
    margin: 0 auto;
}


.header {
    background-color: #343a40;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 5;
    padding: 20px 0;
}

.header .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.header__nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}


.header__logo a,
.header__nav a,
.footer {
    color: #ffffff;
    text-decoration: none;
}

.nav-link {
    padding-right: .5rem;
    padding-left: .5rem;
}

.welcome-section {
    background-color: #e5e8eb;
    margin-top: 80px;
    margin-bottom: 25px;
    padding: 64px 32px 64px 32px;
    border-radius: 8px;
}

.welcome-section h1 {
    font-size: 4.5rem;
    font-weight: 300;
    line-height: 1.2;
    margin-bottom: 15px;
}

.welcome-section p {
    font-size: 1.25rem;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 30px;
}

.welcome-section__btn {
    padding: .5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: .3rem;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.btn {
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    border: 1px solid transparent;
    padding: 0.65rem .75rem;
    font-size: 20px;
    line-height: 1.5;
    border-radius: .25rem;
}

.card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
    margin-bottom: 30px;


}

.card__item {
    /*flex-basis: 25%;*/
    max-width: 23%;
    border: 1px solid rgba(0,0,0,.125);
}

.card__img-top {
    width: 100%;
    vertical-align: middle;
}


.card__body {
    padding: 0 10px;
}

.card__title {
    text-transform: uppercase;
} 

.card__footer {
    padding: .75rem 1.25rem;
    background-color: rgba(0,0,0,.03);
    border-top: 1px solid rgba(0,0,0,.125);
}

.card__btn {
    display: inline-block;
    margin: 10px 0;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    padding: 0.3rem .75rem;
    font-size: 16px;
}


.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 100%;
    background-color: #343a40;
    padding: 40px;
}